<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80)">
  HAVE FUN !
</div>
<div class="container mt-5 mb-5">
  <div class="grid-page">
    <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
    <div class="img-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1582837611539-e3020079eab6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=694&q=80)">
      <%= cocktail.name %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
